---
layout: page.hbs
title: About RRVBT
---
<section id="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="lead">The Raleigh Rare &amp; Vintage Beer Tasting was created to provide the beer enthusiast with the ultimate beer experience! We are providing 40 Rare and/or Vintage beers poured by brewery representatives in an intimate environment, allowing attendants the opportunity to learn what makes these beers special and those that brewed them.</p>

                <p>Appetizers, bottled water and sodas are included in the ticket price. Attendance is limited and tickets will sell fast. A link to purchase tickets will be available on November 1 on this site.</p>

                <p><b>A list of beers being brought by participating breweries can be found on the <a href="/beers">Breweries &amp; Beers</a> page.</b></p><br>
                <div class="alert alert-info alert-block">
                    100% of the net proceeds from ticket sales will be going towards the awareness missions of <a href="http://www.toxicfreenc.org/">Toxic Free NC</a>, and <a href="http://www.pintsforprostates.org/">Pint for Prostates</a>, a 501(c)(3) non-profit charity founded by beer writer and prostate cancer survivor Rick Lyke. Last year we raised almost $13K and hope to raise much more this year!<br><br>
                    <div class="text-center">
                        <a href="http://www.toxicfreenc.org/"><img src="/images/toxic-free-nc.gif" class="img-thumbnail"></a>
                        <a href="http://www.pintsforprostates.org/"><img src="/images/pints-for-prostates.gif" class="img-thumbnail"></a>
                    </div>
                </div>
                <hr>

                <h2>FAQs</h2>
                <h3>When is the RRVBT?</h3>
                <p>Saturday, January 25, 2014. See below for the entrance time.</p>

                <h3>What does it cost?</h3>
                <table class="table table-condensed table-striped table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Imperial tasting ticket</th>
                            <th>Regular tasting ticket</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>Unbelievable beer</b></td>
                            <td><i class="fa fa-check"></i></td>
                            <td><i class="fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <td><b>Aquafina bottled water</b></td>
                            <td><i class="fa fa-check"></i></td>
                            <td><i class="fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <td><b>Pepsi products</b></td>
                            <td><i class="fa fa-check"></i></td>
                            <td><i class="fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <td><b>Passed appetizers</b></td>
                            <td><i class="fa fa-check"></i></td>
                            <td><i class="fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <td><b>Commemorative stemmed glass</b></td>
                            <td><i class="fa fa-check"></i></td>
                            <td><i class="fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <td><b>Tasting notebook</b></td>
                            <td><i class="fa fa-check"></i></td>
                            <td><i class="fa fa-check"></i></td>
                        </tr>
                        <tr>
                            <td><b>RRVBT T-shirt</b></td>
                            <td><i class="fa fa-check"></i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><b>Hours</b></td>
                            <td>2pm-6pm</td>
                            <td>3pm-6pm</td>
                        </tr>
                        <tr>
                            <td><b>Price</b></td>
                            <td>$85</td>
                            <td>$65</td>
                        </tr>
                    </tbody>
                </table>

                <h3>Do I have to be 21 or older to attend?</h3>
                <p>Yes, without exceptions! All IDs will be checked at the door.</p>

                <h3>Can I bring pets?</h3>
                <p>Please leave your pets at home as they will not be permitted.</p>

                <h3>What happens if it rains?</h3>
                <p>The event will be under a tent with heaters and will take place rain or shine!</p>

                <h3>Will there be food at the event?</h3>
                <p>Yes there will be a food available. Additionally, Tyler's and other restaurants (18 Seaboard, Peace China, J.Betskis, Kimbop, Bad Daddy's) are within walking distance.</p>

                <h3>Where should I stay if I need accommodation?</h3>
                <img src="/images/sheraton-logo.jpeg" height="150px">
                <img src="/images/sheraton-nightview.jpeg" height="150px">
                <p>We are happy to be partnering once again with the <a href="http://www.starwoodhotels.com/sheraton/property/overview/index.html?propertyID=434&language=en_US">Sheraton Raleigh</a> hotel.</p>

                <h3>How should I get around?</h3>
                <p>Experience the R-LINE, an eco-friendly approach to urban transportation. This FREE circulator service features hybrid electric buses that will connect you to The Raleigh Rare &amp; Vintage Beer Tasting (Seaboard Station – R3) from the Sheraton (Raleigh Convention Center – R13). Buses run every 10-15 minutes, so whether you're a resident, employee or visitor, its a great way to get around downtown. <a href="http://www.godowntownraleigh.com/_files/docs/map_online.pdf">Downloadable map.</a></p>
                <table class="table table-condensed table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Mon-Wed</th>
                        <th>Thu-Sat</th>
                        <th>Sun</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>Hours of operation</b></td>
                        <td>7am - 11pm</td>
                        <td>7am - 2:15am</td>
                        <td>1pm - 8pm</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
