---
layout: page.hbs
title: Breweries and Beers
---
<section id="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>The Beers</h2>
                <p class="lead">Beers will be announced as they confirmed so check back often to see what has been added.</p>

                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th width="20%">Brewery</th>
                            <th>Beer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mystery Brewing Company</td>
                            <td>
                                <b>Obelisk, 2012</b><br>
                                Rye Quad, barrel-fermented, brewed with pommelos.
                            </td>
                        </tr>
                        <tr>
                            <td>Mystery Brewing Company</td>
                            <td>
                                <b>Obelisk, 2013</b><br>
                                100% Brett Saison, barrel-fermented, brewed with kefir lime leaves and sage.
                            </td>
                        </tr>
                        <tr>
                            <td>Anderson Valley Brewing Company</td>
                            <td>
                                <b>The Kimmie, The Yink and The Holy Gose</b><br>
                                Sour German Ale<br>
                                ABV: 4.5%
                            </td>
                        </tr>
                        <tr>
                            <td>Brouwerij Rodenbach (Palm)</td>
                            <td>
                                <b>Rodenbach Foederbier</b> <span style="color:#cc0000">(This is the only keg of this beer in the US!)</span><br>
                                Sour Red/Brown<br>
                                ABV: 6%<br><br>

                                The Rodenbach Foederbier is found only in Belgium, and this keg will be the only one of its kind in the United States.  It is unfiltered and unpasteurized, and comes directly from Rodenbach's famous French Oak vats that range up to 150 years old!
                            </td>
                        </tr>
                        <tr>
                            <td>Aviator</td>
                            <td>
                                <b>Oak-aged Sour Cave Man Ale</b><br><br>

                                This beer won gold at the 2013 NC state fair. Beer was fermented over 2 years in an oak barrel on brett/pedio/lacto and then aged for a further year in a keg.
                            </td>
                        </tr>
                        <tr>
                            <td>Aviator</td>
                            <td>
                                <b>Overly dry-hopped Hot Rod Red aged in a rare Willet rye whiskey barrel</b><br>
                                Irish Red Ale
                            </td>
                        </tr>
                        <tr>
                            <td>Great Divide</td>
                            <td>
                                <b>Vintage 2011 Yeti Imperial Stout</b><br>
                                Russian Imperial Stout
                            </td>
                        </tr>
                        <tr>
                            <td>Stone Brewing Co.</td>
                            <td>
                                <b>Cali-Belgique aged in White Wine Barrels</b><br>
                                Belgian IPA
                            </td>
                        </tr>
                        <tr>
                            <td>Blue Mountain Brewery</td>
                            <td>
                                <b>Sour Banchee</b><br>
                                Pale Sour Ale<br>
                                ABV: 7.0%, IBUs: 30, OG: 16.5<br><br>

                                Sour Banchee melds a sharply sour nose with a surprisingly balanced flavor of citrusy hops, light and medium crystal malts and a residual soft taste of bourbon and oak. The base beer is hopped with a heavy hand of European and Pacific Northwest whole flower hops, with an addition of Southern Hemisphere hops added during the barrel aging. Then the beer is soured in the barrel for over 9 months.
                            </td>
                        </tr>
                        <tr>
                            <td>Blue Mountain Brewery</td>
                            <td>
                                <b>Blue Reserve</b><br>
                                Hommelbier / Belgian Pale Ale<br>
                                ABV: 7.0%, IBUs: 44, OG: 16.4<br><br>

                                Belgian yeast, pale malts, mountain water and American Cascade hops make for a simple beer with extraordinary flavor, worthy of our Reserve title each year. Spicy yeast and citrusy hops in a bright golden beer.
                            </td>
                        </tr>
                        <tr>
                            <td>Elysian Brewing Company</td>
                            <td>
                                <b>Discount Double Czech</b> <span style="color:#cc0000; display:none">(First time ever outside brewery!)</span><br>
                                Imperial Pilsner<br>
                                ABV: 7.0%, IBUs: 42, OG: 16.2<br><br>

                                A crisp yet sturdy pale lager worthy of the Habsburg double eagle, Discount Double Czech crams Czech Saaz up against Mosaic in the finish and stockpiles Pilsner, Munich and Dextri-pils malts in abundance.
                            </td>
                        </tr>
                        <tr>
                            <td>Elysian Brewing Company</td>
                            <td>
                                <b>Makana Imperial Porter</b> <span style="color:#cc0000; display:none">(First time ever outside brewery!)</span><br>
                                Imperial Porter<br>
                                ABV: 8.0%, IBUs: 40<br><br>

                                The honeymoon is over...<br>
                                The idea for this beer was a parting gift from the Hawaiian islands, where craft breweries large and small all brew some rendition of a dark beer with native coconut. This imperial porter is backed by C45, Black, kiln coffee, &amp; chocolate rye malts, bittered with Simcoe &amp; GNB to a subtle balance, and finished with over a pound of hand-toasted coconut per barrel. Post fermentation, it was conditioned on vanilla beans, adding another layer of ono. This beer will surely ease the pain of reality when back on the mainland.
                            </td>
                        </tr>
                        <tr>
                            <td>Olde Mecklenburg Brewery</td>
                            <td>
                                <b>Bourbonfest &mdash; Mecktoberfest aged in first time use Four Roses bourbon barrels</b> <span style="color:#cc0000;">(This is a first time offering!)</span><br>
                                Märzen / Oktoberfest
                            </td>
                        </tr>
                        <tr>
                            <td>Oskar Blues</td>
                            <td>
                                <b>WilDale</b><br>
                                Pale Ale<br>
                                ABV: 6.5%<br><br>

                                Hoppy, assertive pale ale fermented with a wild yeast strain that introduces a complex spicy character to an already delicious beer.
                            </td>
                        </tr>
                        <tr>
                            <td>Heavy Seas</td>
                            <td>
                                <b>2012 Cabernet Barrel Aged Below Decks Barley Wine</b><br>
                                Barley Wine<br>
                                ABV: 10.0%<br><br>

                                This beer is an English style Barleywine Ale that was brewed in October of 2011 and was aged at the brewery in cabernet wine barrels for 1 year before packaging.
                            </td>
                        </tr>
                        <tr>
                            <td>Founders</td>
                            <td>
                                <b>Boy'lRmayk'R</b><br><br>

                                A delicious corn-based beer that, thanks to its low original ABV and unassuming flavor profile, acted as a ‘yum-sponge’ grabbing everything available from barrel aging.  Oak-y, bourbon-y and corn-y, this lil’ sucker retains its original crushability while adding the complex flavors of barrel aging.  Aged 160 days in 18 year bourbon barrels.
                            </td>
                        </tr>
                        <tr>
                            <td>Terrapin</td>
                            <td>
                                <b>Substance abuse (2011 Wake n Bake aged in Jack Daniels barrels)</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Terrapin</td>
                            <td>
                                <b>Maggies Peach Farm House aged in Cabernet Barrels</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Fullsteam</td>
                            <td>
                                <b>Sour Working Man's Lunch &mdash; "Ol' Brown"</b><br>
                                ABV: 5%<br><br>

                                Inspired by Flanders Oud Bruin, our chocolaty and malty Working Man's Lunch was an ideal candidate to be re-inoculated with souring bacteria. Barrel-aged for over a year, this Sour Southern "Ol' Brown" is viscous, vinous, and complex.
                            </td>
                        </tr>
                        <tr>
                            <td>Fullsteam</td>
                            <td>
                                <b>2012 First Frost -- Winter Persimmon Ale</b><br>
                                ABV: 9%<br><br>

                                Brewed with locally-foraged native persimmons and farmed Asian persimmons. First Frost combines savory, spicy fruit, Belgian candi sugar, and Belgian ale yeast into a one-of-a-kind, Southern-style winter warmer. Notes of spiced apple, caramel, and apricot (all derived from the persimmons and the yeast).
                            </td>
                        </tr>
                        <tr>
                            <td>Fullsteam</td>
                            <td>
                                <b>2012 The Common Good -- Kentucky Common</b><br>
                                ABV: 5%<br><br>

                                Brewed with 100% North Carolina grain (rye, corn, and six-row barley) and apple pommace from Foggy Ridge Cider. This sour mash dark ale is tangy, tart, but smooth...like a worker's "common" beer should be. Kentucky Common is an obscure American beer style originating from the coal mining regions of, you guessed it, Kentucky. Legend has it that the beer was made to transition coal miners from drinking bourbon during their lunch break to a low-alcohol sour mash "beer." Oh how times have changed.
                            </td>
                        </tr>
                        <tr>
                            <td>Boulevard</td>
                            <td>
                                <b>Foeder Projekt #1</b><br>
                                Wood Aged Sour Beer<br>
                                ABV: ~7.0%<br><br>
                                A draft only wood aged sour beer for bars and restaurants in the Kansas City area. At just under 7% ABV, Foeder Projekt #1 is best described as a wood aged sour. The base beer spent six months in a foeder at our Smokestack Series 750 ml bottling facility.
                            </td>
                        </tr>
                        <tr>
                            <td>Duck Rabbit</td>
                            <td>
                                <b>Bourbon Barrel Aged Rabid Duck</b><br>
                                Russian Imperial Stout
                            </td>
                        </tr>
                        <tr>
                            <td>Quest Brewing Co.</td>
                            <td>
                                <b>Kaldi Imperial Coffee Stout aged for 4 months in Dark Corner Distillery "Carolina Bourbon Whiskey" Barrels</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Quest Brewing Co.</td>
                            <td>
                                <b>Pecan Porter aged in Buffalo Trace Bourbon Barrels</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Quest Brewing Co.</td>
                            <td>
                                <b>Cask Conditioned Golden Fleece BPA with Citra hops</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Quest Brewing Co.</td>
                            <td>
                                <b>Ellida IPA with Aji Dulce Peppers</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Haw River Farmhouse Ales</td>
                            <td>
                                <b>Sun Hands Tripel</b><br><br>

                                Fermented with our native house yeast and dry-hopped with a melange of whole leaf Cascade, Chinook &amp; Ahtanum hops, Sun Hands is a surprising take on a trappist classic for those days you in search of a dry, floral summer refresher with a little more punch.
                            </td>
                        </tr>
                        <tr>
                            <td>Haw River Farmhouse Ales</td>
                            <td>
                                <b>Saxy Machismo</b><br><br>
                                
                                Put on your fireproof pants, folks—this one’s got muscle. A smoky, raisin-sweet Belgian-style Quad infused with locally-grown smoked tobago chili peppers, then aged in Four Roses bourbon whiskey barrels for 3 months.<br><br>
                                
                                Warning: Allowing Saxy Machismo within proximity of your beard during imbibing could result in spontaneous awesomeness.
                            </td>
                        </tr>
                        <tr>
                            <td>Haw River Farmhouse Ales</td>
                            <td>
                                <b>Little Wooden Leg</b><br><br>
                                
                                A petite sour ale with a lofty personality, Little Wooden Leg is our take on a sour session ale, aged in fresh American oak barrels and infused with layers of fresh, sweet heirloom figs from our friends at Bluebird Hill Farm.
                            </td>
                        </tr>
                        <tr>
                            <td>Haw River Farmhouse Ales</td>
                            <td>
                                <b>Ensi de Brut</b><br><br>
                                
                                Spontaneously fermented amid the hills of central North Carolina, this light golden ale has a delicate tartness and a dry, tannic snap. We dry hop with Hallertau Blanc hops and age in reconditioned Chardonnay oak barrels for a subtle passionfruit, gooseberry, pineapple finish atop a fresh pilsner malt base, then carbonate to a higher-than-usual volume for a crisp, light finish.
                            </td>
                        </tr>
                        <tr>
                            <td>Sixpoint Brewery</td>
                            <td>
                                <b>Mad Scientist Series #17: The Braggot</b><br><br>
                                Fermented as a single drink, using one-third raw wildflower honey and two-thirds malted barley. In the old world spirit of a spiced brew, it has a dash of coriander and peppercorn, to complement the aroma, alongside Horizon hops, for balance and bittering.</td>
                        </tr>
                        <tr>
                            <td>Sixpoint Brewery</td>
                            <td>
                                <b>Spice of Life with Motueka</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Sixpoint Brewery</td>
                            <td>
                                <b>Gorilla Warfare</b><br><br>
                                
                                Robust and rich porter made with coffee beans from Gorilla Coffee in Park Slope, Brooklyn.
                            </td>
                        </tr>
                        <tr>
                            <td>Sixpoint Brewery</td>
                            <td>
                                <b>Hi Res</b><br>
                                Imperial Ale
                            </td>
                        </tr>
                        <tr>
                            <td>Olde Hickory</td>
                            <td>
                                <b>Imperial Stout aged in bourbon barrels for a year then transferred to Balconies Blue Corn Whiskey barrel; will be served right out of the barrel</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Victory Brewing Co.</td>
                            <td>
                                <b>Braumeister Pils w/ Experimental 462 Hops</b><br><br>
                                
                                Featuring citrus notes with an herbal spiciness and a crisp, refreshing finish, our #462 Pils is well-balanced with distinct hop character and mild bitterness.
                            </td>
                        </tr>
                        <tr>
                            <td>Brooklyn Brewery</td>
                            <td>
                                <b>NY Limited</b> <span style="color:#cc0000">(Not available outside of NY unless someone bootlegged a bottle out)</span><br><br>

                                Beer brewed with Saranac and Ommegang for Savor.
                            </td>
                        </tr>
                        <tr>
                            <td>Brooklyn Brewery</td>
                            <td>
                                <b>Ghost Bottles TBD</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Brooklyn Brewery</td>
                            <td>
                                <b>Black Ops</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Bell's Brewery</td>
                            <td>
                                <b>Bell's Harry Magill's Spiced Stout</b><br><br>

                                Rather than depending on the floral, herbal aspects of traditional hopping, Harry Magill's Spiced Stout explores an alternative to balancing the signature roasted character of a stout.
                            </td>
                        </tr>
                        <tr>
                            <td>Bell's Brewery</td>
                            <td>
                                <b>Bell's Rye Stout</b><br><br>

                                Rye Stout presents the earthy flavor of rye in a stout package. Roasted malts are definitely present, but the dark chocolate aspect is favored over coffee notes.
                            </td>
                        </tr>
                        <tr>
                            <td>Allagash</td>
                            <td>
                                <b>Tweeling</b><br>
                                ABV: 6%<br><br>

                                Tweeling (Dutch for "twin") is a straw-colored ale fermented with Dutch Castle yeast. The finished beer has a pleasant fruity aroma with hints of pear and pineapple, and an herbal note in the background. The fruit continues through the flavor with the addition of a mild biscuity character. Full mouthfeel and dry, lingering bitterness.
                            </td>
                        </tr>
                        <tr>
                            <td>Allagash</td>
                            <td>
                                <b>Jumeau</b><br>
                                ABV: 6.5%<br><br>

                                Jumeau (French for "twin") is a light, golden-colored ale fermented with Brettanomyces Drie, a strain cultured by Brouwerij 3 Fonteinen. The finished beer has an earthy aroma with hints of bread crust. It has a light, dry body, and finishes with a citrus rind character.
                            </td>
                        </tr>
                        <tr>
                            <td>Trophy Brewing Company</td>
                            <td>
                                <b>Peach/Ginger Berliner-weiss</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Trophy Brewing Company</td>
                            <td>
                                <b>Benjamin's Breakfast Stout aged in Maple whiskey barrels with locally roasted coffee</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Trophy Brewing Company</td>
                            <td>
                                <b>Whiskey barrel aged smoked barley wine on apricots</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Left Hand Brewing Company</td>
                            <td>
                                <b>'07-'08 Snowbound Winter Ale</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Smuttynose</td>
                            <td>
                                <b>Smuttlabs Pure Bliss</b><br><br>

                                A collaboration with Chef Jamie Bissonnette creating an unconventional witbier.
                            </td>
                        </tr>
                        <tr>
                            <td>Raleigh Brewing Company</td>
                            <td>
                                <b>The Miller's Toll - Imperial Oatmeal Stout aged on Evan Williams honey bourbon oak served in a cask</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Raleigh Brewing Company</td>
                            <td>
                                <b>The White Fox - Strong Ale aged on Maple Staves</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Raleigh Brewing Company</td>
                            <td>
                                <b>A special beer brewed for RRVBT, TBD</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Sierra Nevada Brewing Company</td>
                            <td>
                                <b>GABF Silver Medal winning Bourbon Barrel-Aged Narwhal</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Anchor Brewing</td>
                            <td>
                                <b>Old Foghorn Barley wine</b> <span style="color:#cc0000">(Only the second Anchor cask served on the East coast!)</span></b>
                            </td>
                        </tr>
                        <tr>
                            <td>Great Divide</td>
                            <td>
                                <b>Sour Puss</b><br>
                                ABV: 7%<br><br>

                                This beer is light red, about 7% Abv, and sour. "Sour Puss" is an American take on a Belgian Flanders style sour. We blended 5 different bbls together from Syrah and whiskey barrels.
                            </td>
                        </tr>
                        <tr>
                            <td>Big Boss</td>
                            <td>
                                <b>Prometheus Unbound</b><br>
                                ABV: 8%<br><br>

                                This three year old ale is black as night in the glass and rich and tart in your mouth.  Aged in a fresh oak wine barrel for added fruit and oak flavor for a one of a kind presentation.
                            </td>
                        </tr>
                        <tr>
                            <td>Full Sail Brewing Company</td>
                            <td>
                                <b>Full Sail '06 Black Gold Bourbon Stout</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Full Sail Brewing Company/td>
                            <td>
                                <b>Full Sail '07 Old Boardhead Barleywine</b>
                            </td>
                        </tr>
                        <tr>
                            <td>New Holland Brewing Company</td>
                            <td>
                                <b>Blue Sunday blended with house made Kombucha and short aged with herbs</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Bear Republic Brewery</td>
                            <td>
                                <b>Tartare</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Bear Republic Brewery</td>
                            <td>
                                <b>Tartare Rouge</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Rogue Brewery</td>
                            <td>
                                <b>Class of '88 Barleywine</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Raleigh Brewing Company</td>
                            <td>
                                <b>Kotbusser</b> <span style="color:#cc0000">(Brewed specially for RRVBT)</span><br><br>

                                A Kotbusser is an outlawed & very rare 14th & 15th century German ale brewed with oats, wheat, honey, & treacle and a neutral yeast that originated in caves on the mountain sides of rural Germany. It supposedly originated from the small town Cottbus, outside of Berlin. It's rather light & refreshing with lots of sweet & malty layers.
                            </td>
                        </tr>
                        <tr>
                            <td>Coronado Brewing Company</td>
                            <td>
                                <b>Barrel Aged Stupid Stout</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Coronado Brewing Company</td>
                            <td>
                                <b>Brandy Barrel Aged Barleywine</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Sweetwater Brewing Company</td>
                            <td>
                                <b>Second Helping IPA - IPA brewed with Juniper Berries</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Highland Brewing Company</td>
                            <td>
                                <b>Ashevilliner Weisse</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Highland Brewing Company</td>
                            <td>
                                <b>Chocolate Bourbon Barrel Aged Russian Imperial Stout</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Green Flash</td>
                            <td>
                                <b>Barrel Aged Linchpin - Barrel Aged in 'Rombauer' Red Wine Barrels for 14 months and innoculated with house Brett</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Green Flash</td>
                            <td>
                                <b>Super Freak</b> - Le Freak aged on Red Wine Barrels for 12-14 months with some Brettanomyces funk<br>
                                ABV: 10.7%<br><br>

                                Super Freak emerges from red wine barrels after aging our cherished Le Freak for 12-16 months.  The super freaky qualities come not only from vanillin French oak flavors and tannin but also from our house Brettanomyces which gives the beer a slightly wild and funky tartness with some fruity apple orchard characteristics.  The firm qualities of Le Freak are rounded out by the barrel aging but the richness still lingers on with the Brettanomyces funk.
                            </td>
                        </tr>
                        <tr>
                            <td>White Street Brewing Company</td>
                            <td>
                                <b>Koschei the Deathless imperial stout</b><br>
                                ABV: 13%<br><br>

                                This massive, rich stout pushes the laws of nature.  Blacker than night with a huge, complex character, Koschei is an evil not to be reckoned with. Careful, he will steal your ladies' soul!
                            </td>
                        </tr>
                        <tr>
                            <td>White Street Brewing Company</td>
                            <td>
                                <b>Belgian Abbey</b><br>
                                ABV: 11%<br><br>

                                2012 Abbey Ale was White Street's first foray into high gravity beer. Big notes of ripe cherry and candied pears are accompanied by caramel and spicy phenols.
                            </td>
                        </tr>
                        <tr>
                            <td>Stone Brewing Co.</td>
                            <td>
                                <b>2012 Double Bastard Ale aged in Red Wine barrels</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Lagunitas Brewing Company</td>
                            <td>
                                <b>Lagunitas Cappuccino Stout aged in High West Rye Whiskey Barrels</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Lagunitas Brewing Company</td>
                            <td>
                                <b>Unfiltered Pils</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Wicked Weed Brewing</td>
                            <td>
                                <b>Oblivion Sour Red</b><br><br>
                                This ale is for all of you wild beer lovers. Brewed with 88 pounds of blackberries and 20 pounds of dried dates this sour beer is full of depth. A crisp tartness was achieved through the 8 month aging process in cabernet wine barrels with lactobacillus and pediococcus. Even though Oblivion is deliberately sour, it still carries a wonderful complex and soft flavor making it a dangerously easy drinking beer.
                            </td>
                        </tr>
                        <tr>
                            <td>Wicked Weed Brewing</td>
                            <td>
                                <b>Dark Age Bourbon Stout</b><br>
                                ABV: 11%<br><br>
                                Dark Age is our monster of an imperial stout. This 11% alcohol stout spends upwards of six months in bourbon barrels along with rye malt creating a wonderfully complex beer.
                            </td>
                        </tr>
                        <tr>
                            <td>Sam Adams</td>
                            <td>
                                <b>Utopias</b>
                            </td>
                        </tr>
                        <tr>
                            <td>Foothills Brewing</td>
                            <td>
                                <b>Blendiculous</b>
                            </td>
                        </tr>
                   </tbody>
                </table>
                <br><br><br>

                <h2>The Breweries</h2>
                <p class="lead">This is a list of the breweries that have signed on so far to participate. Please check this page regularly for any updates.</p>
                <ul>
                    <li><img src="/images/breweries/allagash.jpg" height="120px"></li>
                    <li><img src="/images/breweries/anchor.jpg" height="120px"></li>
                    <li><img src="/images/breweries/anderson-valley.jpg" height="120px"></li>
                    <li><img src="/images/breweries/aviator.jpg" height="120px"></li>
                    <li><img src="/images/breweries/bear-republic.jpg" height="120px"></li>
                    <li><img src="/images/breweries/bells.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/big-boss.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/blue-mountain.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/boulevard.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/brooklyn.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/coronado.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/duck-rabbit.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/elysian.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/foothills.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/founders.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/fullsail.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/fullsteam.jpg" height="120px"></li>
                    <li><img src="/images/breweries/great-divide.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/green-flash.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/hardywood.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/haw-river.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/highland.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/heavy-seas.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/lagunitas.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/left-hand.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/mystery.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/new-belgium.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/new-holland.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/olde-hickory.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/omb.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/oskar-blues.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/raleigh-brewing.png" height="120px"></li>
                    <li><img src="/images/breweries/rodenbach.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/rogue.jpg" height="120px"></li>
                    <li><img src="/images/breweries/quest.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/sam-adams.png" height="120px"></li>
                    <li><img src="/images/breweries/sierra-nevada.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/sixpoint.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/smuttynose.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/stone.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/sweetwater.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/terrapin.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/trophy.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/victory.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/wicked-weed.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/white-street.jpeg" height="120px"></li>
                </ul>
            </div>
        </div>
    </div>
</section>
