---
layout: page.hbs
title: Breweries and Beers
---
<section id="newsletter" ng-app="beersApp" ng-controller="IndexCtrl" ng-init="getAllBeers()">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>The Beers</h2>
                <p class="lead text-center">Beers will be announced as they confirmed so check back often to see what has been added.</p>

                <!--
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th width="20%">Brewery</th>
                            <th>Beer</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="beer in beersArr">
                        <tr>
                            <td>{[{ beer.brewery }]}</td>
                            <td>
                                <b>{[{ beer.name }]}</b> <span ng-if="beer.note" style="color:#cc0000;">{[{ beer.note }]}</span><br>
                                {[{ beer.style }]}<br>
                                <span ng-if="beer.abv">ABV: {[{ beer.abv }]}%<br></span>
                                <span ng-if="beer.description"><br>{[{ beer.description }]}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br><br><br>
                -->

                <h2>The Breweries</h2>
                <p class="lead">This is a list of the breweries that have signed on so far to participate. Please check this page regularly for any updates.</p>
                <ul>
                    <li><img src="/images/breweries/alesmith.png" height="120px"></li>
                    <li><img src="/images/breweries/allagash.jpg" height="120px"></li>
                    <li><img src="/images/breweries/anderson-valley.jpg" height="120px"></li>
                    <li><img src="/images/breweries/ardent.png" height="120px"></li>
                    <li><img src="/images/breweries/aviator.jpg" height="120px"></li>
                    <li><img src="/images/breweries/ballast-point.jpg" height="120px"></li>
                    <li><img src="/images/breweries/bear-republic.jpg" height="120px"></li>
                    <li><img src="/images/breweries/bells.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/big-boss.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/blue-mountain.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/boulevard.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/brooklyn.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/champion-brewing-company.jpg" height="120px"></li>
                    <li><img src="/images/breweries/coronado.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/crank-arm.jpg" height="120px"></li>
                    <li><img src="/images/breweries/deep-river.jpg" height="120px"></li>
                    <li><img src="/images/breweries/devils-backbone.jpg" height="120px"></li>
                    <li><img src="/images/breweries/double-barley.jpg" height="120px"></li>
                    <li><img src="/images/breweries/foothills.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/founders.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/fullsail.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/fullsteam.jpg" height="120px"></li>
                    <li><img src="/images/breweries/great-divide.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/great-lakes.jpg" height="120px"></li>
                    <li><img src="/images/breweries/green-flash.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/hardywood.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/haw-river.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/highland.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/lagunitas.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/left-coast-brewing.jpg" height="120px"></li>
                    <li><img src="/images/breweries/left-hand.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/mystery.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/new-belgium.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/new-holland.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/olde-hickory.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/ommegang.jpg" height="120px"></li>
                    <li><img src="/images/breweries/oskar-blues.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/port-city.jpg" height="120px"></li>
                    <li><img src="/images/breweries/quest.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/raleigh-brewing.png" height="120px"></li>
                    <li><img src="/images/breweries/rodenbach.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/sam-adams.png" height="120px"></li>
                    <li><img src="/images/breweries/sierra-nevada.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/smuttynose.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/steel-string.jpg" height="120px"></li>
                    <li><img src="/images/breweries/sweetwater.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/terrapin.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/trophy.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/tröegs.jpg" height="120px"></li>
                    <li><img src="/images/breweries/victory.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/white-street.jpeg" height="120px"></li>
                    <li><img src="/images/breweries/wicked-weed.jpeg" height="120px"></li>
                </ul>
            </div>
        </div>
    </div>
</section>
