---
layout: default.hbs
title: Home
---
<header>
    <div class="container content">
        <div class="row">
            <div class="header-left-text">
                <h5><a href="/about">About RRVBT</a></h5>
            </div>
            <div class="header-right-text">
                <h5><a href="/tickets">BUY TICKETS</a></h5>
            </div>
        </div>
        <h1 id="main-text">4th annual Raleigh Rare &amp; Vintage Beer Tasting</h1>
        <h3 id="second-text">January 24, 2015<br>3pm - 6pm</h3>

        <div id="countdown_dashboard">
            <div class="dash weeks_dash">
                <span class="dash_title">weeks</span>
                <div class="digit">0</div>
                <div class="digit">0</div>
            </div>
            <div class="dash days_dash">
                <span class="dash_title">days</span>
                <div class="digit">0</div>
                <div class="digit">0</div>
            </div>
            <div class="dash hours_dash">
                <span class="dash_title">hours</span>
                <div class="digit">0</div>
                <div class="digit">0</div>
            </div>
            <div class="dash minutes_dash">
                <span class="dash_title">minutes</span>
                <div class="digit">0</div>
                <div class="digit">0</div>
            </div>
            <div class="dash seconds_dash">
                <span class="dash_title">seconds</span>
                <div class="digit">0</div>
                <div class="digit">0</div>
            </div>
        </div>
    </div>
</header>

<section id="newsletter">
    <div class="container content">
        <h2>BREWERIES</h2>
        <div class="row">
            <div class="col-md-12 visible-lg visible-md">
                <ul>
                    <li><img src="/images/breweries/allagash.jpg" height="100px"></li>
                    <li><img src="/images/breweries/anchor.jpg" height="100px"></li>
                    <li><img src="/images/breweries/anderson-valley.jpg" height="100px"></li>
                    <li><img src="/images/breweries/aviator.jpg" height="100px"></li>
                    <li><img src="/images/breweries/bear-republic.jpg" height="100px"></li>
                </ul>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="hidden-lg hidden-md"><p class="lead">We have a ton of breweries participating!</p></div>
            <big><a href="/beers">SEE ALL PARTICIPATING BREWERIES AND LIST OF BEERS</a></big>
        </div>
    </div>
</section>

<section id="features">
    <div class="container content">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <h2>OUR SPONSORS</h2>
            <ul>
                <li class="thumbnail"><a href="http://www.pepsibottlingventures.com"><img src="/images/sponsors/aquafina.jpg" height="100px"></a></li>
                <li class="thumbnail"><a href="http://longbeverage.com/"><img src="/images/sponsors/long-beverage.png" height="100px"></a></li>
                <li class="thumbnail"><a href="http://mimsdist.com"><img src="/images/sponsors/mims-distributing-company.jpg" height="100px"></a></li>
                <li class="thumbnail"><a href="http://www.harriswholesale.com/harris/default.htm"><img src="/images/sponsors/ra-jeffries.jpg" height="100px"></a></li>
                <li class="thumbnail"><a href="http://www.tryondist.com/"><img src="/images/sponsors/tryon-distributing.jpg" height="100px"></a></li>
            </ul>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <h2>OUR PARTNERS</h2>
            <ul>
                <li class="thumbnail"><a href="http://exclusivebrandingsolutions.espwebsite.com/"><img src="/images/partners/ebs.jpg" height="100px"></a></li>
                <li class="thumbnail"><a href="http://www.tylerstaproom.com"><img src="/images/partners/tylers.gif" height="100px"></a></li>
                <li class="thumbnail"><a href="http://www.usfoods.com/index.html"><img src="/images/partners/us-foods.jpg" height="100px"></a></li>
            </ul>
        </div>
    </div>
</section>
