---
layout: page.hbs
title: Buy Tickets
---
<section id="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Tickets go on sale Saturday, November 1, 2014.</h3>
                <p class="lead">We limit the amount of tickets sold in an effort to create a comfortable environment with limited wait times and personal access to the brewery representatives serving the beer.</p>

                <p>Imperial tasting tickets cost $85 and Regular tasting tickets are $65. For more details and FAQs, see the <a href="/about">About RRVBT</a> page.</p>
                <br>
                <!--a class="btn btn-primary btn-lg" href="https://www.eventbrite.com/event/9103200919">Buy tickets</a-->
            </div>
        </div>
    </div>
</section>
